/* reset CSS */

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}


body{
    background-color: #333;
    color: white;
    font-family: 'Courier New', Courier, monospace;
}

header{
    height: 20vh;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: rgb(95, 94, 94);

}



section{
    display: flex;
    flex-direction: column;

    justify-content: center;

    padding: 1em;

    font-size: .7em;
}

figure img{
    width: 100%;
    height: 100%;

    object-fit: cover;
}




@media screen and (min-width: 800px){
    main{
        display: grid;
        gap: 15px;
        grid-template-columns: repeat(6, 1fr);
        grid-auto-rows: 20vh;
    }

    .c2xr1{
        grid-column: span 2;
    }
    
    .c2xr2{
        grid-column: span 2;
        grid-row: span 2;
    }
    
    .c3xr1{
        grid-column: span 3;
    }
    .c3xr2{
        grid-column: span 3;
        grid-row: span 2;
    }

}