* {
	margin: 0;
	padding: 0;
	border: none;
	box-sizing: border-box;
	text-decoration: none;
}

body {
	margin: 0 auto;
}

header {
	height: 600px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	gap: 140px;
}

.banner {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.speo-banner {
	width: 500px;
	margin-bottom: 15px;
}

.upper-nav {
	text-align: center;
	display: flex;
	align-items: flex-end;
	justify-content: space-between;
}

.upper-nav section {
	width: 100%;
	line-height: 3em;
	height: 3em;
}

.sobre,
.membros {
	position: relative;
	overflow: hidden;
}

.sobre:after {
	content: '';
	position: absolute;
	top: -20px;
	right: -20px;
	width: 40px;
	height: 40px;
	transform: rotate(45deg);
	box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.281);
}

.membros:before {
	content: '';
	position: absolute;
	top: -20px;
	left: -20px;
	width: 40px;
	height: 40px;
	transform: rotate(45deg);
	box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0.281);
}

.mouse {
	width: 40px;
}

nav {
	position: sticky;
	top: 0px;
	z-index: 10;
	padding: 0 30px 10px 30px;
}

.nav {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-end;
}

.nav-links {
	display: flex;
	gap: 20px;
}

.speo-nav {
	align-self: flex-start;
}

.speo-nav img {
	width: 200px;
}

h1 {
	text-align: center;
}

.padding {
	padding: 30px 10%;
}

.news,
.press {
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 10px;
}

.mini {
	width: 270px;
	height: 400px;
	overflow: hidden;
	position: relative;
}

.mini img {
	width: 100%;
	height: 200px;
	overflow: hidden;
	object-fit: cover;
}

.press .mini {
	height: 200px;
}

.partners img {
	padding: 20px;
	width: 100%;
}

footer {
	text-align: center;
}

.newsletter form {
	padding: 30px;
}

.info {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	gap: 50px;
}

.info > * {
	flex: 1;
	height: 300px;
}

.highlights .date {
	position: absolute;
	bottom: 0;
}

.newsl-2 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 200px;
}

.map {
	max-width: 100%;
	overflow: hidden;
}

.agenda {
	padding-bottom: 40px;
	display: flex;
	gap: 10px;
	width: 100%;
	justify-content: space-around;
}

.column {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-content: stretch;
	flex: 1;
	min-width: 300px;
	max-width: 400px;
	row-gap: 10px;
}

.column article {
	display: flex;
	gap: 10px;
}

.poster {
	height: fit-content;
}

.poster img {
	width: 100%;
}

.right {
	text-align: right;
}

.study {
	display: flex;
	gap: 10px;
	flex-wrap: wrap;
}

.study div {
	flex: 2;
}

.study figure {
	flex: 1;
	min-width: 400px;
}

.study img {
	width: 100%;
	object-fit: cover;
}

.study ul {
	padding-top: 10px;
	column-count: 2;
}

.inline {
	display: inline;
	margin: 20px;
}

.center {
	text-align: center;
}

.pessoas {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 10px;
}

.person {
	flex: 1;
	width: 300px;
	row-gap: 10px;
	text-align: center;
	padding: 20px;
}

.person img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	border-radius: 50%;
	border: grey solid 4px;
}

.padding-bottom {
	padding-bottom: 20px;
}

.infor > *,
.where > * {
	text-align: left;
}

.padding-left {
	padding-left: 40px;
}

.center-btn {
	display: flex;
	justify-content: center;
	gap: 20px;
}

p:last-child {
	margin-bottom: 30px;
}
