main {
    padding-bottom: 70px;
}

.active {
    background-color: rgb(83, 158, 123);
    border-radius: 5px;
}

.text-orange {
    color: darkorange;
}

.nav {
    display: block;
}

.banner {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}    

.banner-index {
	background-image: url('../images/landing-page-banner.jpg');
}

.banner-contact {
	background-image: url('../images/contact-banner.jpg');
}

.banner-articles img {
    width: 100%;
}

.content {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	row-gap: 20px;
}

.content > * {
	text-align: center;
	flex-basis: 100%;
}

.gallery-low {
    display: none;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.learn {
	color: white;
	font-size: 0.8em;
	font-weight: 200;

	display: none;
}

.socials {
	display: flex;
	justify-content: center;
}

.socials > * {
	padding: 10px;
	height: 40px;
}

.submit-btn {
    text-align: right;
}

@media screen and (min-width: 640px) {

    .nav {
        display: flex;
		flex-direction: row !important;
        align-items: center;
        width: 100%;
	}

    .contact {
		margin-left: auto;
	}

	.banner-text {
		max-width: 60%;
	}

    .content > * {
        flex-basis: 50%;
    }

	footer {
		justify-content: space-between;
	}

	.learn {
		display: block;
	}
}

@media screen and (min-width: 1020px) {
    .content > * {
        flex-basis: 25%;
    }

    .gallery-low {
        display: flex;
        justify-content: stretch;
        gap: 5px;
    }
    
    .gallery-low > * {
        flex: 1;
    }
    
    .gallery-low > * img {
        width: 100%;
    }

}
