
/* fazer vários ficheiros CSS e criar import no index.css */
/* Estilos Globais */
/* mini reset CSS à La João */
*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
/* Estilos Gerais para o body */
body{
    font-family: Inconsolata, monospace;
    /* background-color: aqua; */
}
/* Links */

a:link{
    text-decoration: none;
    color: black;
}
a:visited{
    color: gray;
}
a:hover{
    color: rgb(84, 84, 165);
}
a:active{
    color: darkblue;
    font-weight: bold;
}
/* Main */
main{
    width: 80%;
    min-width: 800px;
    max-width: 920px;
    margin: 50px auto;
    padding: 2em;
    border: 5px double black;
    border-radius: 10px;

    /* background-color: brown; */
}

/* bloco do header */
header{
    text-align: center;
    text-transform: uppercase;
}
header span{
    display: block;
    line-height: 0.8em;
    font-weight: 400;
}
header span.bold{
    font-weight: 900;
    font-size: 1.2em;
    letter-spacing: 0.1em;
}
/* nav */

nav ul{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    margin: 10px auto;
    padding: 10px 0;

    width: 600px;
}
nav li{
    list-style-type: none;
    text-align: center;

    display: inline-block;
    width: 20%;
}
/*  section class=contents*/
/* section.contents figure, section.contents article */
section.contents > * {
    width: 600px;
    margin: 15px auto;
}
section.contents img{
    filter: grayscale(1);
}
section.contents img:hover{
    filter: grayscale(0);
}
/* footer */
footer{
    width: 600px;
    margin: 15px auto;
    padding: 15px 0;
    border-top: 1px solid black;
    text-align: center;
}