
.navbar-nav .btn {
  font-size: .6em;
  font-weight: 900;
  /* background-color: #FF8B13; */
  background-color: #000;
  /* color: #542967; */
  color: #fff;
  box-shadow: 2px 2px 1px #999089;
  /* box-shadow: 4px 4px 3px #ac66f2; */
  padding: .6em;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 5px;
}

.navbar-nav .btn:hover {
  color: #775cde;
  /* color: #ac66f2; */
  text-decoration: none;
}

.navbar-nav .btn.active,
.navbar-nav .btn:focus {
  color: #775cde;
  box-shadow: none;
  outline: none;
}

.navbar-toggler {
  border: none;
  font-size: 20px;
  /* color: #542967; */
  color: #000;
  /* background-color: #FF8B13; */
  background-color: #775cde;
  
  padding: 0;
  width: 40px;
  height: 40px;
  display: none;
}

@media screen and (max-width: 1020px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .navbar-collapse {
    display: none;
  }

  .navbar-collapse.show {
    display: flex;
    flex-basis: 100%; 
  }

  .navbar-toggler {
    display: block;
  }
}
