.nav-link{
  font-size: .6em;
  font-weight: 900;
  background-color: #ac66f2;
  color: #434337;
  box-shadow: 4px 4px 3px #434337;
  padding: .6em;
  text-decoration: none;
  margin-right: 10px;
  border-radius: 5px;
}


.navbar-toggler {
  border: none;
  font-size: 24px;
  color: #ac66f2;
  background-color: #434337;
  
  padding: 0;
  width: 40px;
  height: 40px;
  display: none;
}


@media screen and (max-width: 768px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  .navbar-collapse {
    display: none;
  }

  .navbar-collapse.show {
    display: flex;
    flex-basis: 100%;
  }

  .navbar-toggler {
    display: block;
  }
}
