
   section.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 73vh;
  }

  h1 {
    font-size: 3rem;
    color: #552049;
    text-align: center;
    margin-bottom: 1rem;
  }
  