
   .not-found {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  
  .not-found .image-container {
    position: relative;
    width: 800px;
    height: 600px;
    margin-bottom: 20px;
  }
  
  .not-found .image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
  }
  
  .not-found h1 {
    font-size: 2em;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    z-index: 1;
  }
  