@charset "UTF-8";

/* mini reset CSS */

*{
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}
/* por as imagens responsive */
img{
    max-width: 100%;
}

/* Estilos gerais body */
body{

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    
}
/* main */
main{
    
    width: 640px;
    padding: 15px;
    margin: 20px auto;

    text-align: center;

    background-color: #E7E8E6;
}
.teas h1{
    font-size: 2.4em;
    font-weight: normal;

    margin: 10px auto;
}

.container{
margin: 25px;

    display: flex;
    justify-content: space-evenly;

    gap: 15px;
}
.manana{
    flex: 1;
}
.almorzar{
    flex: 1;
}
.tarde{
    flex: 1;
}

.container h1{
    text-transform: uppercase;
    font-size: 0.8em;
    padding: 10px;
}

.container p{
    height: 160px;
    padding: 10px;
}

a.btn{
    background-color: rgb(22, 21, 21);
    color: white;
    text-decoration: none;
    text-transform: uppercase;

    display: inline-block;
    padding: 0.4em;
}

.pumpkin{
    border-top: 2px solid rgb(22, 21, 21);
    padding: 15px; 
}

.services{
    display: flex;
    justify-content: space-evenly;
    
}
.muestra{
    flex: 1;
}
.entrega{
    flex: 1;
}
.pago{
    flex: 1;
}
.cliente{
    flex: 1;
}



