*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body{
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

header{
  height: 35vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  font-size: 1.5em;
  padding-left: 20px;
}

header h1{
  color: #000;
  font-size: 2em;
}

img.logo{
  
  width: 100%;
  max-width: 100px;
  height: auto;
}

article{
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1em;
  font-size: 1em;
  font-weight: 600;
  
}



figure img{
  width: 100%;
  height: 100%;

  object-fit: cover;
}



article.tag{
  align-items: center;
  font-size: 3em;
  color: #fff;
  background-color: #755cde;
  font-weight: 900;

}

article.text{
  color: #000;
  font-size: .9em;
  
}
article.one{
  background-color: #f5a560;
  
}
article.two{
  background-color: #62c4b7;
}
article.three{
  background-color: #f49d9e;
}

article.welcome{
  font-size: 1.5em;
  background-color: #ea7564;
  color: #fff;
}

h1.title{
  align-self: center;
  
}

article.contact{
  font-size: 1.2em;
  background-color: #55204a;
  color: #000;
  font-size: 1.2em;
}


article.contact p{
  color: #fff;
}

@media screen and (min-width: 640px) and (max-width: 1020px){
  section.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 25vh;
    padding-bottom: 6.5vh;
  }
  
.text, .initial, .www{
  grid-column: span 2;
}
}

@media screen and (min-width: 1020px) {
  header{
    height: 20vh;
  }
  section.grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 20vh;
    gap: 5px;
    
    padding-bottom: 6.5vh;
  }

  .c2xr2{
    grid-column: span 2;
    grid-row: span 2;
  }
  .c1xr2{
    grid-row: span 2;
  }
  .c2xr1{
    grid-column: span 2;
  }
  .c3xr1{
    grid-column: span 3;
  }
  .c3xr4{
    grid-column: span 3; 
    grid-row: 4;
}
  .c5xr1{
      grid-column: span 5; 
  }
}
.grid > *{
  box-shadow: 2px 2px 4px #755cde;
}

.container-footer {
  position: relative;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 6vh;
  background-color: #fff;
  padding: 10px;
  margin-top: auto;
  color: #000;
  font-size: 1em;
}
