*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

#root {
  height: 100%;
  
}


body{
  background-color: #fff7f0;
  font-family: 'Roboto', sans-serif;
  text-align: center;

}
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-container {
  flex: 1;
}
header{
  height: 25vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff7f0;
  padding-left: 20px;
}

header h1{
  color: #030303;
  font-size: 2.4em;
}

img.logo{
  
  width: 100px;
  max-width: 100%;
  height: auto;
}

article{
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1em;
  font-weight: 600;
  
}



figure img{
  width: 100%;
  height: 100%;

  object-fit: cover;
}



article.tag{
  align-items: center;
  font-size: 4em;
  color: #fff7f0;
  background-color: #755cde;
  font-weight: 900;

}

article.text{
  color: #030303;
  font-size: 1.1em;
  font-weight: 400;
  
}
article.one{
  background-color: #f6a560;
  
}
article.two{
  background-color: #61c4b7;
}
article.three{
  background-color: #f39e9e;
}

article.welcome{
  font-size: 1.5em;
  background-color: #eb7565;
  color: #fff7f0;
}
article.welcome img{
  display: none;
}

h1.title{
  align-self: center;
  
}

article.contact{
  font-size: 1.6em;
  background-color: #552049;
  position: relative;
  
}

.linkedin{
  margin-top: 20px;
  text-decoration: none; 
  color: inherit;
  
}

.email{
  text-decoration: none; 
  color: inherit; 
}


article.contact p{
  color: #fff7f0;
}

article.contact img{
  display: none;
}



@media screen and (min-width: 640px) and (max-width: 1020px){
  section.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 25vh;
    
  }
  
.text, .initial, .www{
  grid-column: span 2;
}
}

@media screen and (min-width: 1020px) {
  header{
    height: 25vh;
  }
  section.grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 20vh;
    gap: 5px;
  
  }

  .c2xr2{
    grid-column: span 2;
    grid-row: span 2;
  }
  .c1xr2{
    grid-row: span 2;
  }
  .c2xr1{
    grid-column: span 2;
  }
  .c3xr1{
    grid-column: span 3;
  }
  .c3xr4{
    grid-column: span 3; 
    grid-row: 4;
}
  .c5xr1{
      grid-column: span 5; 
  }
  article.welcome {
    font-size: 3em;
    position: relative;
  }
  
  article.welcome img {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: auto;
    object-fit: cover;
    z-index: 1;
  }

  article.welcome .title {
    z-index: 2;
    margin-top: 10px;
    
  }
  
  article.contact img {
    display: block;
    width: 150px;
    height: auto;
    object-fit: cover;
    position: absolute;
  }
  
  article.contact .left-image {
    left: 0;
    top: 55%;
    transform: translate(0, -50%);
  }
  
  article.contact .right-image {
    right: 0;
    top: 30%;
    transform: translate(0, -50%);
  }
  
}
.grid > *{
  box-shadow: 2px 2px 4px #755cde;
}

.container-footer {
  
  
  background-color: #fff7f0;
  color: #030303;
  
  
}

footer {
  
  background-color: #fff7f0;
  padding: 1em;
  margin-top: auto;
  color: #000;
  font-size: 1em;

}
