*{
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

body{
  background-color: #434337;
  color: #AC66F2;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

header{
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #434337;
  font-size: 2em;
  /* padding: 20px; */
  padding-left: 20px;
}

header h1{
  color: #AC66F2;
  font-size: 1.6em;
}

img.logo{
  
  width: 100%;
  max-width: 100px;
  height: auto;
}

article{
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 1em;
  font-size: 1em;
  font-weight: 600;
}



figure img{
  width: 100%;
  height: 100%;

  object-fit: cover;
}



article.tag{
  align-items: center;
  font-size: 3em;
  color: #65337A;
  background: linear-gradient(to bottom, #BB84E8,#434337);
  font-weight: 900;

}

article.text{
  background-color: #BB84E8;
  color:#65337A;
  
}

article.welcome{
  font-size: 1.5em;
  background: linear-gradient(to bottom,#434337, #BB84E8);
  color: #65337A;
}

h1.title{
  align-self: center;
  
}

article.contact{
  font-size: 1.2em;
  /* background: linear-gradient(to bottom,#0A0240, #AC66F2); */
  background-color: #BB84E8;
  
}


article.contact p{
  color: #65337A;
  font-size: 1.3em;

}
article.contact p:first-child {
  margin-bottom: 10px;
}


/* .form-grid {
  background-color: #434337;
  display: block;
  text-decoration: none;
  font-size: 1.6em;
  text-align: center;
  padding: .6em 1.6em;
  border-radius: 5px;
  color: #BB84E8;
  font-weight: bold;
}

.form:hover {
  background-color: #774C60;
} */


@media screen and (min-width: 768px) {
  section.grid{
    display: grid;
    
    grid-template-columns: repeat(6, 1fr);
    grid-auto-rows: 20vh;
    gap: 5px;
  }

  .c2xr2{
    grid-column: span 2;
    grid-row: span 2;
  }
  .c1xr2{
    grid-row: span 2;
  }
  .c2xr1{
    grid-column: span 2;
  }
  .c3xr1{
    grid-column: span 3;
  }
  .c3xr4{
    grid-column: span 3; 
    grid-row: 4;
}
  .c5xr1{
      grid-column: span 5; 
  }
}
.grid > *{
  box-shadow: 2px 2px 4px #AC66F2;
}
footer{
  height: 5vh;
  background-color: #434337;
  padding: 10px;
  color: #AC66F2;
  font-size: 1em;
  
}